@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
         :root {
            --font-style: 'Nunito Sans', sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        
        body {
            background: #202022;
            font-family: var(--font-style);
        }
        
        .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: #242026;
            box-shadow: 0 10px 1000px rgba(198, 122, 177);
            border-radius: 10px;
        }
        
        .login-box h2 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }
        .login-box h4 {
            margin: 0 0 30px;
            padding: 0;
            text-align: right; 
        }
        
        .login-box h4 a {
            text-decoration: none;
            color:yellow;
            
        }
        .login-box .user-box input {
            position: relative;
            width: 100%;
            padding: 10px 10px;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
        
        .login-box .user-box label {
            position: relative;
            left: 0;
            top: -60px;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }
        
        .login-box .user-box input:focus~label,
        .login-box .user-box input:valid~label {
            top: -85px;
            left: 0;
            color: pink;
            font-size: 15px;
        }
        
        #submit {
            padding: 10px 20px;
            color: #CBBDDB;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            letter-spacing: 4px;
            border: 1px solid #df7272;
            margin: auto;
        }
         #submit:hover {
    background-color: #555;
}
      
        
        .button-form {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
        }
        

        
