<!DOCTYPE html>
<html>
<head> 
    <title>Register User</title>
     </head>
<body>     
<div class="login-box">
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
        
        <h2>Movie Tickets</h2>
        <form action="/register" method="post" enctype="multipart/form-data">
            <div class="user-box">
                <input type="text" name="username" id="username" required="">
                <label>New Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="password" required="">
                <label>New Password</label>
            </div>

            <div class="button-form">

                <input type="submit" class="btn btn-primary" value="Register">
              
            </div>
            <br>
            <div> {% if message %}
                <p style="color:red; text-align: center;"><b>{{ message }}<b></p>
            {% endif %} </div>
          <br><br>
            
        </form>
    </div>
</body>
